.all-projects-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: -35px;
	margin-right: -35px;
	position: relative;
}

.all-projects-project {
	width: calc(100% / 3);
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
	position: relative;
}

.all-projects-project .project-container {
	position: relative;
	z-index: 1;
}

.all-projects-project .project-preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: none;
}

.all-projects-project .project-preview iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.all-projects-project:hover .project-preview {
	display: block;
}

@media (max-width: 600px) {
	.all-projects-project {
		width: calc(100% / 2);
	}
}
